{% extends "base.html" %}

{% block title %}About · Dhanika Botejue{% endblock %}


{% block content %}
  <section class="card">
    <h2 class="section-title">About Me</h2>
    <p>I’m an aspiring software engineer with a background in Python and Flask, now expanding into UI/UX and WordPress. Skilled in Figma for prototyping and design, I aim to create websites that balance clean visuals with strong functionality.</p>
    <p>I adapt quickly and enjoy collaborating to bring ideas to life.</p>
  </section>
{% endblock %}