{% extends "base.html" %}

{% block title %}Home · Dhanika Botejue{% endblock %}


{% block content %}
  <section>
    <h1 class="hero-title">Hi, I’m Dhanika</h1>
    <p class="lead">a software engineer enthusiast with <strong>full-stack</strong> skills, based in Ontario. I am looking to put the knowledge I learned from <strong>Harvard’s CS50</strong> to use.</p>
  </section>

  <section>
    <h2 class="section-title">Skills</h2>
    <div class="skills">
      <div class="skill">
        <img src="/images/Python.png" alt="Python">
        <div class="name">Python</div>
      </div>
      <div class="skill">
        <img src="/images/SQL.png" alt="SQL">
        <div class="name">SQL</div>
      </div>
      <div class="skill">
        <img src="/images/HTML.png" alt="HTML">
        <div class="name">HTML</div>
      </div>
      <div class="skill">
        <img src="/images/CSS.png" alt="CSS">
        <div class="name">CSS</div>
      </div>
      <div class="skill">
        <img src="/images/JS.png" alt="JavaScript">
        <div class="name">JS</div>
      </div>
      <div class="skill">
        <img src="/images/Figma.svg" alt="Figma">
        <div class="name">Figma</div>
      </div>
      <div class="skill">
        <img src="/images/Wordpress.png" alt="WordPress">
        <div class="name">WordPress</div>
      </div>
    </div>
  </section>
{% endblock %}